Ans1

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
SQL is structured Query language it store the data in structured format for example .csv , .xlsx etc we can use microsoft acess,
MySQL and SQL.
NoSQL is No structured Query language it store the data in non structured for example audio,png.jpg.videos etc for NoSQL
we can use mongodb

Ans2

DDL stands for Data Definition Language, which is a set of SQL commands that are used to define the structure and
characteristics of the database objects such as tables, views, indexes, etc.

CREATE: 
This command is used to create a new database object, such as a table, view, index, etc. For example,
the following SQL statement creates a new table called "customers":
CREATE TABLE customers (id INT,name VARCHAR(50), email VARCHAR(50),PRIMARY KEY (id));

DROP:
This command is used to delete an existing database object, such as a table, view, index, etc. For example,
the following SQL statement drops the "customers" table:
DROP TABLE customers;

ALTER: 
This command is used to modify the structure of an existing database object, such as adding or deleting columns froma table.
For example, the following SQL statement adds a new column called "phone" to the "customers" table:
ALTER TABLE customers ADD phone VARCHAR(20);

TRUNCATE:
This command is used to delete all the data from an existing table. It is similar to the DELETE command,but it does not delete
the table structure. For example, the following SQL statement deletes all the data from the"customers" table:
TRUNCATE TABLE customers;

Ans3

DML stands for Data Manipulation Language, which is a set of SQL commands that are used to manipulate the data stored in the
database objects such as tables. The three most commonly used DML commands are:
    
INSERT: 
This command is used to insert new data into a table. For example, the following SQL statement inserts a new row into
the "customers" table:
INSERT INTO customers (id, name, email)VALUES (1, 'John Doe', 'johndoe@example.com');

UPDATE: 
This command is used to modify existing data in a table. For example, the following SQL statement updates 
the email address of the customer with an ID of 1:
UPDATE customers
SET email = 'johndoe1@example.com'
WHERE id = 1;

DELETE: 
This command is used to delete existing data from a table. For example, 
the following SQL statement deletes the customer with an ID of 1:
DELETE FROM customersWHERE id = 1;

Ans4

An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE ) 
that specify criteria. The syntax is: SELECT column1, column2 FROM table1, table2 WHERE column2='value';

Ans5

A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a given primary key
value in a table. A foreign key is a column or a set of columns in a table whose values correspond to the values of 
the primary key in another table.

Ans6

In [1]:
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="yourusername",
#   password="yourpassword",
#   database="yourdatabase")

# mycursor = mydb.cursor()

# mycursor.execute("SELECT * FROM customers")

# result = mycursor.fetchall()

Ans7

FROM: This clause specifies the table or tables from which to retrieve data.
JOIN: This clause is used to combine data from two or more tables based on a related column between them.
WHERE: This clause is used to filter the data based on a specific condition.
GROUP BY: This clause is used to group the data based on one or more columns.
HAVING: This clause is used to filter the data after it has been grouped.
SELECT: This clause is used to select the columns to retrieve data from the tables.
DISTINCT: This clause is used to remove duplicates from the results.
ORDER BY: This clause is used to sort the results based on one or more columns.
LIMIT: This clause is used to limit the number of rows returned by the query.