Ans1

In [1]:
import seaborn as sns
import pandas as pd

df = pd.DataFrame(sns.load_dataset('iris'))

In [2]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
print(df.shape)
print("*"*35)
print(df.sample())
print("*"*35)
print(df.describe())
print("*"*35)
print(df.info())
print("*"*35)
print(df.corr())

(150, 5)
***********************************
    sepal_length  sepal_width  petal_length  petal_width     species
63           6.1          2.9           4.7          1.4  versicolor
***********************************
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
***********************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
***********************************
              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

Ans2

In [4]:
import numpy as np
import pandas as pd

def reindex_df(data):
    # create a new index using numpy.arange() starting from 1 and incrementing by 2
    new_index = np.arange(start=1, stop=2*len(df)+1, step=2)
    # set the new index using set_index() method of the DataFrame
    new_df = data.set_index(new_index)
    return new_df

new_df = reindex_df(df)

Ans3

In [5]:
def sum_first_three(data):
    # initialize a variable to store the sum
    total = 0
    
    # iterate over the first three rows of the DataFrame
    for index, row in df.head(3).iterrows():
        # add the value of the 'Values' column to the total
        total += row['sepal_length']
    
    # print the total to the console
    print('The sum of the first three values sepal_length is:', total)

sum_first_three(df)

The sum of the first three values sepal_length is: 14.7

Ans4

In [6]:
def add_word_count(data):
    # create a lambda function that counts the number of words in a string
    word_count = lambda x: len(x.split())
    
    # apply the lambda function to the 'Text' column using apply() method and assign the result to a new column 'Word_Count'
    df['Word_Count'] = df['species'].apply(word_count)
    
    return df

new_df = add_word_count(df)
new_df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species  Word_Count
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1

Ans5

DataFrame.size() returns the total number of elements in the DataFrame. That is,
it returns the product of the number of rows and the number of columns in the DataFrame.

DataFrame.shape() returns a tuple that contains the number of rows and the number of columns in the DataFrame. That is,
it returns the dimensions of the DataFrame.

Ans6

pd.read_excel("data.xlxs")

Ans7

In [7]:
import pandas as pd

def extract_username(df):
    # extract the username from each email address
    usernames = df['Email'].str.split('@').str[0]

    # create a new column 'Username' in df with the extracted usernames
    df['Username'] = usernames

    return df

Ans8

In [8]:
import pandas as pd

def select_rows(df):
    # select the rows where A > 5 and B < 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

    # return the new DataFrame
    return selected_rows

Ans9

In [9]:
import pandas as pd

def calculate_stats(df):
    # calculate the mean, median, and standard deviation of the 'Values' column
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()

    # print the results
    print('Mean:', mean)
    print('Median:', median)
    print('Standard deviation:', std_dev)

Ans10

In [10]:
import pandas as pd

def add_moving_average(df):
    # calculate the moving average of the 'Sales' column with a window of size 7
    moving_average = df['Sales'].rolling(window=7, min_periods=1).mean()

    # add the moving average to the DataFrame as a new column 'MovingAverage'
    df['MovingAverage'] = moving_average

    # return the updated DataFrame
    return df

Ans11

In [11]:
import pandas as pd

def add_weekday(df):
    # convert the 'Date' column to a datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # extract the weekday name from the 'Date' column and add it to a new column 'Weekday'
    df['Weekday'] = df['Date'].dt.strftime('%A')

    # return the updated DataFrame
    return df

Ans12

In [12]:
import pandas as pd

def select_january(df):
    # convert the 'Date' column to a datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # select rows where the date is between '2023-01-01' and '2023-01-31'
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    df = df.loc[mask]

    # return the updated DataFrame
    return df

Ans13

In [13]:
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt