In [3]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration =  [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

Ans1

In [7]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Ans2

loc is typically used for label indexing and can access multiple columns, while . iloc is used for integer indexing

Ans3

In [13]:
new_df = df.reindex(index=[3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [11]:
new_df.loc[2]# label name

course_name    Big Data
duration              6
Name: 2, dtype: object

In [12]:
new_df.iloc[2]#use indexing

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [15]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.939116  0.351859  0.525019  0.302508  0.160331  0.179452
2  0.959205  0.677287  0.038886  0.132896  0.029088  0.840938
3  0.950443  0.009895  0.586974  0.770819  0.094192  0.903563
4  0.984516  0.076861  0.558496  0.288389  0.778010  0.740434
5  0.719635  0.002149  0.450294  0.922150  0.331481  0.418050
6  0.079723  0.119306  0.404253  0.756190  0.796476  0.674987

Ans4

In [19]:
for column in df1:
    print(f" mean of {column} is : {df1[column].mean()}")

 mean of column_1 is : 0.7721064514966308
 mean of column_2 is : 0.20622631315921813
 mean of column_3 is : 0.4273205322504194
 mean of column_4 is : 0.5288251638772045
 mean of column_5 is : 0.3649296255279702
 mean of column_6 is : 0.6262372613524597

In [24]:
print(f"std of column_2 is : {df1.column_2.std()}")

std of column_2 is : 0.26366311525004316

Ans5

In [25]:
df1.column_2.loc[2] = 'you'

the reason we are getting mean is that we cant get the mean of string of if we have any sting in the specified column

Ans6

Windows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value.

Ans7

In [31]:
from datetime import datetime
today = datetime.today()
print(today)

2023-04-12 21:16:55.369031

Ans8

In [32]:
# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings into datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference using Pandas time delta
time_diff = date2 - date1

# Extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

# Display the result
print(f"The difference between {date1.date()} and {date2.date()} is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD): 1999-09-26
Enter the second date (YYYY-MM-DD): 2000-02-13
The difference between 1999-09-26 and 2000-02-13 is 140 days, 0 hours, and 0 minutes.

Ans9

In [34]:
# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a Pandas DataFrame
data = pd.read_csv(file_path)

# Prompt the user to enter the column name to convert
column_name = input("Enter the name of the column to convert: ")

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated): ").split(',')

# Convert the specified column to a categorical data type with the specified category order
data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)

# Sort the data by the specified column
sorted_data = data.sort_values(by=column_name)

# Display the sorted data
print(sorted_data)

KeyboardInterrupt: Interrupted by user

Ans10

In [35]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a Pandas DataFrame
sales_data = pd.read_csv(file_path)

# Convert the date column to a datetime data type
sales_data['date'] = pd.to_datetime(sales_data['date'])

# Group the sales data by product category and date
grouped_sales_data = sales_data.groupby(['category', 'date']).sum()

# Pivot the grouped data to create a matrix where each row represents a date, and each column represents a product category
pivoted_sales_data = grouped_sales_data.reset_index().pivot(index='date', columns='category', values='sales')

# Create a stacked bar chart of the sales data over time
pivoted_sales_data.plot(kind='bar', stacked=True)

# Set the chart title and axis labels
plt.title('Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')

# Display the chart
plt.show()

KeyboardInterrupt: Interrupted by user