Ans1

In [1]:
data = [("Sachin Tandulkar",34357),("Ricky Ponting",27843),("Jack Kallis",25534),("Virat Kolhi",24936)]

sorted_data = sorted(data, key=lambda x: x[1], reverse=True)

print(sorted_data)

[('Sachin Tandulkar', 34357), ('Ricky Ponting', 27843), ('Jack Kallis', 25534), ('Virat Kolhi', 24936)]

Ans2

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squares = map(lambda x: x**2, my_list)

print(list(squares))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Ans3

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


f = map(lambda x: str(x), my_list)

print(tuple(f))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Ans4

In [4]:
from functools import reduce

multiply = lambda x, y: x * y

my_list = list(range(1, 26))

product = reduce(multiply, my_list)
print(product)

15511210043330985984000000

Ans5

In [5]:
my_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filtered_list = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, my_list))

print(filtered_list)

[6, 60, 90, 120]

Ans6

In [6]:
my_list = ['python','php','aba','radar','level']

palindrome = list(filter(lambda x: x == x[::-1],my_list))

print(palindrome)

['php', 'aba', 'radar', 'level']